## Exploratory Data Analysis

#### retrieving data from MySQL db:

In [1]:
import mysql.connector
import pandas as pd
import requests
import json
from datetime import date
import datetime
import time

In [5]:
connection = mysql.connector.connect(user='root', password='IndyDenver22!',
                              host='localhost',
                              database='layoffs')
#global_cursor = connection.cursor()
print(connection)

<mysql.connector.connection.MySQLConnection object at 0x7fa85f4788e0>

In [6]:
cursor = connection.cursor()

In [12]:
data = pd.read_sql('SELECT * FROM layoffsfyi', connection)

In [15]:
data

,Company,Location,Number_laid_off,Layoff_date,Percent,Industry,Stage,Money_raised_mm,Date_reported
0,Amazon,Seattle,8000,0001-04-23,2,Retail,IPO,108,0001-04-23
1,Astronomer,Cincinnati,76,0001-04-23,20,Data,Series C,282,0001-06-23
2,Augury,New York City,20,0001-04-23,5,Manufacturing,Series E,274,0001-09-23
3,Blend,SF Bay Area,340,0001-10-23,28,Finance,IPO,665,0001-10-23
4,Chainalysis,New York City,44,0002-01-23,5,Crypto,Series F,536,0002-01-23
5,Coinbase,SF Bay Area,950,0001-10-23,20,Crypto,IPO,549,0001-10-23
6,ConsenSys,New York City,100,0001-10-23,11,Crypto,Series D,726,0001-10-23
7,DraftKings,Boston,140,0002-01-23,4,Consumer,Post-IPO,719,0002-01-23
8,Everlane,SF Bay Area,30,0001-05-23,17,Retail,Unknown,176,0001-06-23
9,Exterro,Portland,24,0002-01-23,3,Legal,Private Equity,100,0002-01-23
10,Fate Therapeutics,San Diego,315,0001-09-23,57,Healthcare,IPO,1200,0001-12-23
11,Flexport,SF Bay Area,640,0001-11-23,20,Logistics,Series E,2400,0001-11-23
12,ForeScout,SF Bay Area,100,0001-10-23,10,Security,IPO,125,0001-10-23
13,Greenlight,Atlanta,104,0001-12-23,21,Finance,Series D,556,0001-12-23
14,Highspot,Seattle,100,0002-02-23,10,Sales,Series F,644,0002-02-23
15,Jumio,SF Bay Area,100,0001-11-23,6,Security,Private Equity,205,0001-12-23
16,Kaltura,New York City,75,0001-04-23,11,Media,IPO,166,0001-05-23
17,Lending Club,SF Bay Area,225,0001-12-23,14,Finance,IPO,392,0001-12-23
18,Miro,SF Bay Area,119,0002-02-23,7,Other,Series C,476,0002-02-23
19,Okta,SF Bay Area,300,0002-02-23,5,Other,Post-IPO,1200,0002-02-23
20,Parler,Nashville,60,0001-10-23,75,Consumer,Series B,36,0001-10-23
21,Personetics,New York City,30,0001-05-23,8,Support,Private Equity,178,0001-05-23
22,Protocol Labs,SF Bay Area,89,0002-03-23,20,Crypto,Unknown,10,0002-03-23
23,Qualtrics,Salt Lake City,270,0001-11-23,5,Other,IPO,400,0001-12-23
24,Salesforce,SF Bay Area,8000,0001-04-23,10,Sales,IPO,65,0001-04-23
25,SmartNews,Tokyo,120,0001-12-23,40,Media,Series F,410,0001-12-23
26,Socure,Reno,104,0001-05-23,19,Finance,Series E,646,0001-05-23
27,SoundHound,SF Bay Area,200,0001-05-23,50,Other,IPO,326,0001-05-23
28,Splunk,SF Bay Area,325,0002-01-23,4,Data,Post-IPO,2400,0002-01-23
29,TheSkimm,New York City,17,0002-01-23,10,Media,Series C,28,0002-02-23
30,Tipalti,SF Bay Area,123,0001-11-23,11,Finance,Series F,565,0001-11-23
31,Uniphore,SF Bay Area,76,0001-03-23,10,Support,Series E,620,0001-05-23
32,Verily,SF Bay Area,250,0001-11-23,15,Healthcare,,3500,0001-11-23
33,WalkMe,SF Bay Area,43,0001-08-23,3,Other,IPO,307,0001-09-23
34,Wheel,Austin,56,0002-01-23,28,Healthcare,Series C,215,0002-01-23